.DS_Store
.idea
.vscode

# Binaries
corgi

# Frontend
web/package-lock.json
configs/corgi.yaml

.env

/bin
/.go
/.push-*
/.container-*
/.dockerfile-*
/.licenses*
/.buildx-initialized
/tools/.go
/tools/bin
