<footer>
  <div>
    <br/>
    <LinkTo @route="index" @query={{hash author=null page=1 tag=null}}>Corgi</LinkTo>.
    <span>
      A shortener app built with love from <a href="https://elga.io">Elga</a>.
    </span>
  </div>
</footer>