{{#each this.links as |link|}}
  <div>
    {{link}}
  </div>
{{/each}}

{{#if this.loadLinks.isRunning}}
  Loading...
{{else}}
  {{#each this.links as | link |}}
    {{link}}
  {{else}}
    No links are here... yet.
  {{/each}}
{{/if}}
