{{#if this.session.user}}
  <h1>Profile</h1>

  Name: {{this.session.user.name}}
  <br>
  Role: {{this.session.user.role}}
  <br>

  Providers:
  {{#each this.session.user.identities as |identity|}}
    <br>
    - {{identity.provider}}
    <br>
  {{/each}}
{{/if}}